.award-block {
    max-height: 220px;
}

.award-block img {
    max-height: 130px;
}

.elevator {
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: auto;
    margin-top: 50px;
}

.elevator:hover {
    opacity: 0.7;
}

.elevator svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
